{
    "org_name": "GIS Zeta",
    "matrix_version": "0.0.1",
    "tree_root": {
        "edwin_org_root": {
            "type": "rand",
            "root": 1,
            "list": 0,
            "resp": [
                "Greetings, I am Edwin, please allow me to assist you. I see you didn't ask about anything, so let me offer you thoughts on what you could ask me about:",
                "Hello, I am Edwin, I can help you with %org_name% information in many ways, please don't hesitate to ask",
                "Hello %nbuser%, I am your personal data butler, Edwin. I can offer many ways to help, please feel free to ask me anything!"
            ]
        },
        "spark": {
            "type": "full",
            "short_desc": "Apache Spark",
            "list": 1,
            "resp": [
                "Apache Spark is available to run - More information found by typing %spark"
            ]
        },
        "drill": {
            "type": "full",
            "short_desc": "Apache Drill", 
            "list": 1,
            "resp": [
                "Apache Drill is available to run - More information found by typing %drill"
            ]
        },
        "ssh": {
            "type": "full",
            "short_desc": "Other ways to connect to the container via SSH",
            "list": 1, 
            "resp": [
                "Your notebook container also has an SSH Port for SSH for the user %nbuser%",
                "The host to connect to is: %nbsshhost%",
                "The port to connect to is: %nbsshport%",
                "",
                "Connect Example:",
                "> ssh -p%nbsshport% %nbuser%@%nbsshhost%",
                "",
                "Copy Files Example:",
                "> scp -P%nbsshport% /path/to/your/file.txt %nbuser%@%nbsshhost%:/home/%nbuser%/"
            ]
        },
        "unknown": {
            "type": "rand",
            "list": 0,
            "resp": [
                    "I am not sure what you are looking to do, please try %edwin_org for options",
                    "Are you sure you meant that? Perhaps %edwin_org will give you more ideas"
            ]
        },
        "datasets": {
            "list": 1,
            "type": "full",
            "short_desc": "Lists of Datasets available",
            "resp": [
                "We have many data sets at %orgname%, please feel free to drill down on these:",
                ""
            ],
            "cheader": "Workspaces: ",
            "children": {
                "workspace1": {
                    "list": 1,
                    "type": "full",
                    "short_desc": "Some great data for our org",
                    "resp": [
                        "A pull of the org data to json format and loaded for use",
                        "Workspace: dfs.workspace1",
                        ""
                        ],
                    "cheader": "Tables for review: ",
                    "children": {
                        "view_sales": {
                            "list": 1,
                            "type": "full",
                            "short_desc": "Full View of all data including large blobs of feature data and price history",
                            "resp": [
                                "This is the full data set for working. It includes history or adds, removes, odometer, and pricing",
                                "It's updated every 10 minutes",
                                "Example (Pulls number of widgets sold per day): ",
                                "",
                                "%%drill",
                                "select endday, count(*) as num_widgets from view_sales where endday >= '2017-06-01'",
                                "group by endday order by endday ASC"
                            ]
                        }
                    }
                }
            }
        },
        "vis": {
            "list": 1,
            "type": "full",
            "short_desc": "Visualizations done in notebook",
            "resp": [
                "matplotlib is available to do basic visualizations on returned data frames",
                "",
                "To use, you must first run in a cell:",
                "",
                "%matplotlib inline",
                "",
                "Then you can use any dataframe variable and .plot to make it happen",
                "For example, let's say you ran a query with %%drill, those results would be in the prev_drill variable by default",
                "To visualize with a (default) line chart you could run:",
                "",
                "newvar = prev_drill.plot(x='yourXaxisCol', y='yourYaxisCol', figsize=(15,10))",
                "",
                "There is much more you can do with this, please stay tuned for updates or check the MatPlotLib Doc Pages!"
            ],
            "children": {
                "line": {
                    "type": "full",
                    "list": 1,
                    "short_desc": "Line Charts",
                    "resp": [
                        "To do a line chart, here's what you do!",
                        "",
                        "newvar = prev_drill.plot(kind='line', x='yourXaxisCol', y='yourYaxisCol', figsize=(15,10))"
                    ]
                },
                "bar": {
                    "type": "full",
                    "short_desc": "Bar Charts",
                    "list": 1,
                    "resp": [
                        "To do a bar chart, you do this:",
                        "",
                        "newvar = prev_drill.plot(kind='bar', x='yourXaxisCol', y='yourYaxisCol', figsize=(15,10))"
                    ]
                }
            }
        }
    }
}
