{
    "org_name": "GIS Zeta",
    "matrix_version": "0.0.1",
    "tree_root": {
        "base": {
            "type": "base",
            "resp": [
                "Greetings, I am Edwin, please allow me to assist you. I see you didn't ask about anything, so let me offer you thoughts on what you could ask me about:",
                "",
                "I can help with the following topics in relation to your org:",
                "",
                "%edwin_org        - This help",
                "%edwin_org spark  - Apache Spark",
                "%edwin_org drill  - Apache Drill",
                "%edwin_org ssh    - Container SSH and File Copy"
            ]
        },
        "spark": {
            "type": "final",
            "resp": [
                "Apache Spark is available to run - More information found by typing %spark"
            ]
        },
        "drill": {
            "type": "final",
            "resp": [
                "Apache Drill is available to run - More information found by typing %drill"
            ]
        },
        "ssh": {
            "type": "final",
            "resp": [
                "Your notebook container also has an SSH Port for SSH for the user %nbuser%",
                "The host to connect to is: %nbsshhost%",
                "The port to connect to is: %nbsshport%",
                "",
                "Connect Example:",
                "> ssh -p%nbsshport% %nbuser%@%nbsshhost%",
                "",
                "Copy Files Example:",
                "> scp -P%nbsshport% /path/to/your/file.txt %nbuser%@%nbsshhost%:/home/%nbuser%/"
            ]
        },
        "unknown": {
            "type": "rand",
            "resp": [ 
                    "I am not sure what you are looking to do, please try %edwin_org for options",
                    "Are you sure you meant that? Perhaps %edwin_org will give you more ideas"
            ]
        },
        "vis": {
            "type": "parent",
            "resp": [
                "matplotlib is available to do basic visualizations on returned data frames",
                "",
                "To use, you must first run in a cell:",
                "",
                "%matplotlib inline",
                "",
                "Then you can use any dataframe variable and .plot to make it happen",
                "For example, let's say you ran a query with %%drill, those results would be in the prev_drill variable by default",
                "To visualize with a line chart you could run:",
                "",
                "newvar = prev_drill.plot(x='yourXaxisCol', y='yourYaxisCol', figsize=(15,10))",
                "",
                "There is much more you can do with this, please stay tuned for updates or check the MatPlotLib Doc Pages!"
            ]
        }
    }
}
